# bloop and metals
.bloop
.bsp
.metals
project/metals.sbt


# sbt
project/project/
project/target/
target/


# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other
.history
.scala_dependencies
.cache-main
*.sc

# general
*.class